:root {
  --bg-color: #000000;
  --text-color: #00ff00;
  --border-color: #008000;
  --button-bg: #008000;
  --button-hover: #00ff00;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  min-height: 100vh;
  text-shadow: 0 0 8px var(--text-color);
}

#container {
  flex: 1;
  background-color: var(--bg-color);
  padding: 10px;
  margin: 20px;
  position: relative;
}

#sidebar, #resultado1, #resultado2, #resultado3 {
  border: 2px solid var(--border-color);
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 2px;
}

input, button {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 3px 8px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--button-hover);
  box-shadow: 0 0 10px var(--button-hover), 0 0 20px var(--button-hover);
  color: var(--bg-color);
}
